* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* settaggi generici */
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.flex-end {
    display: flex;
    justify-content: flex-end;
}
.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.justify-content-b {
    justify-content: space-between;
}
.justify-content-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
.text-center {
    text-align: center;
}
.wrap {
    flex-wrap: wrap;
}
.right-top-20 {
    top: 20px;
    right: 20px;
}
.right-0 {
    right: 20px;
}
.left-0 {
    left: 0;
}
.top-0 {
    top: 20px;
}
.bottom-0 {
    bottom: 0;
}
.ab-full-orz {
    left: 0;
    right: 0;
}
.p-20 {
    padding: 20px;
}
.mt-10 {
    margin-top: 10px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mr-10 {
    margin-right: 10px;
}
.mx-10 {
    margin: 0 10px;
}
.overflow-auto {
    overflow: auto;
}
.z-index {
    z-index: 1;
}
/* settaggio box */
.box {
    height: 100vh;
    background-color: rgb(34, 32, 32);
}
/* settaggio header */
.labels {
    background-color: rgb(142, 142, 142);
    padding: 5px;
    border-radius: 5px;
}
.labels:first-child {
    margin-right: 20px;
}
.labels:first-child i{
    margin-right: 10px;
}

/* settaggio main */
.card {
    width: calc(90% / 7);
    height: calc(60% / 5);
}
.zoom-label {
    padding: 10px;
    background-color: grey;
}
/* settaggio footer */
.bg-gray {
    background-color: rgb(142, 142, 142);
    color: white;
}
.end-meeting {
    background-color: lightgray;
}
.end-meeting a {
    text-decoration: none;
    color: red;
}